/* Custom CSS for VSCode */

:root {
  --custom-tab-height: 28px;
  --custom-tab-font-size: 14px;
}

.tabs-container .monaco-icon-description-container {
  display: none !important;
}

*:has(> .sidebar) {
  display: flex !important;
  flex-direction: column !important;
}

.editor-actions {
  height: var(--custom-tab-height) !important;
  line-height: var(--custom-tab-height) !important;
}

.tabs-container {
  height: unset !important;
}

.tabs-container .tab {
  height: var(--custom-tab-height) !important;
  line-height: var(--custom-tab-height) !important;
}

.tabs-container .monaco-icon-label {
  height: var(--custom-tab-height) !important;
  line-height: var(--custom-tab-height) !important;
  font-size: var(--custom-tab-font-size) !important;
}

.tabs-container .monaco-icon-label:before {
  height: var(--custom-tab-height) !important;
  line-height: var(--custom-tab-height) !important;
}

/* ========================================================================= */

.sidebar {
  flex: 1 !important;
  display: flex !important;
}

.sidebar > .content {
  flex: 1 !important;
  height: unset !important;
  font-size: 14px !important;
}

.sidebar > .title {
  display: none !important;
}

.sidebar .split-view-container[style*="overflow"] {
  display: flex !important;
  flex-direction: column !important;
}

.sidebar .split-view-container[style*="overflow"] > * {
  height: unset !important;
  flex: 1 !important;
}

.sidebar .folder-icon::before {
  color: #7c420f !important;
}

/*.explorer-folders-view .monaco-list-row {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}*/

/* ========================================================================= */
